.page-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: #f5f5f5; /* Opcional: cambia el fondo */
}

.col-data {
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  justify-content: center; /* Alinea verticalmente al centro */
  height: 100%; /* Asegúrate de que el contenedor ocupe toda la altura del padre */
}

.col-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
.item-page-container{
  
  margin: 2rem;
  padding: 1rem;
  width: 90%;
  border-radius: 0.2rem;
  box-shadow: 4px -4px 10px rgba(0, 0, 0, 0.091);
  align-items: center;
  text-align: center;
  align-content: center;
  background-color: rgb(255, 255, 255);}

  .col-img{padding: 0%; margin: 0%; }

  
    .col-img,
    .col-data {
      display: flex;
      height: auto;
      align-items: center;
          text-align: center;
          align-content: center;
          justify-content: center;
      /* Opcional: centra contenido horizontalmente dentro de las columnas */
    }