.Header__Container {
  position: relative;
  z-index: 10;
  width: 100%;
  z-index: 1050;
  top: 0px;
  transition: top 0.5s ease, opacity 2s ease, transform 2s ease;
  opacity: 0;
  transform: translateY(-50px);
  /* Desplazado hacia arriba al inicio */
}

.Header__Container.scrolled {
  top: 0;
  /* Se fija en la parte superior */
  transform: translateY(0);
  /* Regresa a su posición original */
  opacity: 1;
  position: fixed;
  z-index: 10;
}
.Header__Container:not(.scrolled) {
  transform: translateY(0);
  opacity: 1;
}
.Naftware {
  background-color: #00443b;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0.5rem 0rem 0.5rem 0rem;
  position: relative;
    z-index: 1001;
}

.Naftware Nav.Link {
  color: white;
}
.Navbar .navbar-collapse {
  overflow: visible !important;
}
.Navb-collapse {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Navbar-toggler {
  margin: 0.5rem;
}
.navbar-collapse .show .tab{
  background-color: #00443b;
  
}
.navbar-toggler {
  display: flex;
  align-items: center;
  /* Alinea verticalmente el contenido */
  justify-content: center;
  /* Opcional: Alinea horizontalmente si es necesario */
  height: 1.5rem;
  /* Asegúrate de que haya suficiente altura para centrar el ícono */
  width: 1.5rem;
  color: white;
  border-color: white;
  border-style: groove;
}
.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  /* Esto reemplaza el SVG por defecto negro con uno blanco */
}
.Navbar {
  margin: 0%;
  padding: 0%;
  background-color: #f3f3f3;
  position: relative;
    z-index: 1000;
}


.consultar-con-foto:hover{background-color: rgba(255, 68, 0, 0.872); color: white;}

.Naftware .dropdown-toggle{
  color: #ffffff !important;
  background-color: rgba(79, 189, 83, 0.872);
  border-radius: 0.2rem;
  height: auto;
  margin-left: 1rem;
  font-weight: bold;
  padding: 0%;
  font-size: 0.8rem;
}

.Naftware .tab {
  border-radius: 0px;
  border: 0px;
  max-height: 400px;
  overflow-y: auto;
  color: rgba(3, 0, 0, 0.485) !important;
  font-size: 0.6rem;
  font-weight: bold;
}

.Naftware .dropdown-toggle:hover {
  background-color: rgba(255, 68, 0, 0.872);
  transition-duration: 0.3s;
}

.Naftware .dropdown-menu {
  color: beige;
  border-radius: 0px;
  border-top: 0px;
  max-height: 400px;
overflow: visible !important;
  position: absolute;
    z-index: 9999 !important;
    background-color: #00443b !important;

}

/* Estilos para los ítems del dropdown */
.Naftware .dropdown-item {
  color: azure !important;
  font-size: 0.6rem;

  font-weight: normal;
}

.Naftware .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: black !important;
}

.Naftware .btn-outline-success {
  background-color: #4fbd53de;
  border-color: white;
  padding: 1% 3%;
}

.Naftware .btn-outline-success:hover {
  background-color: rgba(255, 68, 0, 0.872);
  color: rgb(255, 255, 255);
}

.Navbar {

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.108);

}

.Navbar .tab {
  color: rgb(1, 1, 1);
  font-weight: bold;
  font-size: 0.7rem;
}

.Navbar .tab:hover {
  color: #ff8c00 !important;
}

.logo {
  padding: 0%;
}

.dropdown-item {
  font-size: 0.8rem;
  color: black;
  font-weight: lighter;
}


@media (max-width: 992px) {
  .hide-on-lg {
    display: none !important;
  }

  .show-on-lg {
    display: list-item !important;
  }

  .catalogo__dropdown {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .Naftware {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.108);
  }

  .navbar-toggler {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0%;
  }

  .navbar-toggler-icon {
    height: 1rem;
    width: 1rem;
  }
}


@media (max-width: 575px) {
  .Header__Container {
    padding-top: 0%;
    height: auto;
    /* Ajuste para pantallas pequeñas */
  }

  .Naftware {
    padding: 0.2rem 0rem 0.2rem 0rem;
  }
    .navbar-toggler{height: 1rem;width: 1rem;}
    .navbar-toggler-icon{height: 0.4rem;
      width: 0.4rem;}
}