.Naftware .form-control {
  color: black;
  font-size: 0.8rem;
}
.bi-search{
  color: white;
}

.hide-on-lg{
  display: inline;
}
.form-container {
  height: 1.8rem;
  width: 18rem;
  padding: 0%;
}

.Naftware .form__button {
  border-radius: 0.2rem;
  border: 0px
}
.btn-outline-success{
  border: 0px;
  margin-left: 1rem;
}
.Naftware .form__placeholder {
  border-radius: 0.2rem;
  padding: 3%;
  width: 12rem;
}

.show-on-lg {
  display: none !important;
}
.Naftware .form-control::placeholder {
  color: #00000076;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 992px) {
  .hide-on-lg {
    display: none !important;
  }
.show-on-lg {
  display: list-item !important;
}}