.footer__container {
  z-index: 1000;
  width: 100%;
  
  /* Ajusta la altura según tu diseño */
  
  bottom: 0;
  z-index: 1000;
  box-shadow: 4px -4px 10px rgba(0, 0, 0, 0.108);
  padding-top: 1rem;
}

.bottom {
  background-color: rgb(22, 22, 22);
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.footer__container .bottom .item {
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: normal;
}

.footer__container .desc {
  color: rgba(3, 0, 0, 0.485) !important;
  font-size: 0.8rem;
  font-weight: normal;
}

.footer__container .title {
  font-size: 0.8rem;
  font-weight: bold;
 
  color: rgba(79, 189, 83, 0.872) !important;
}

.footer__container .link {
  text-decoration: none;
  color: rgba(1, 1, 1, 0.588);
    font-weight: normal;
    font-size: 0.7rem;
}

.footer__container .link:hover{
  color: #ff8c00 !important;
}

.footer__container .bottom .sub{
  color:#ff8c00
}
.footer__container .bottom .to {
  color: rgba(239, 239, 239, 0.89) !important
}