.footer__container {
  box-shadow: 10px -4px 10px rgba(0, 0, 0, 0.108);
  text-decoration: none;
  padding-top: 1rem;
  margin-bottom: 0%;
  padding-bottom: 0%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  display: flex;
  /* Habilitar flexbox */
  flex-direction: column;
  /* Organizar en columna */
  justify-content: space-between;
  /* Asegurar distribución correcta */
}

.bottom {
  background-color: rgb(22, 22, 22);
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.footer__container .bottom .item {
  color: rgb(239, 239, 239) !important;
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: normal;
}

.footer__container .desc {
  color: rgba(3, 0, 0, 0.485) !important;
  font-size: 0.8rem;
  font-weight: normal;
}

.footer__container .title {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(3, 0, 0, 0.485) !important;
}

.footer__container .link {
  text-decoration: none;
  color: rgba(1, 1, 1, 0.588);
    font-weight: normal;
    font-size: 0.7rem;
}

.footer__container .link:hover{
  color: #ff8c00 !important;
}