.users{
  font-size: 0.8rem;
  color: #ffffffa5;
  list-style: none;
}
.users:hover{
  color: white;
}
@media (max-width: 575px) {
  .users {
    font-size: 0.6rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .users {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
   .users{
    font-size: 0.8rem;
  }
}